@font-face {
    font-family: "Gilam Regular";
    src: url("/fonts/Circe-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilam Book";
    src: url("/fonts/Gilam-Book.ttf") format("truetype");
}

@font-face {
    font-family: "Gilam Regular";
    src: url("/fonts/Gilam-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilam Book";
    src: url("/fonts/Gilam-Book.ttf") format("truetype");
}

@font-face {
    font-family: Circle;
    src: url("/fonts/Circe-Regular.ttf") format("truetype");
}
body{
    font-style: normal;
    font-family: "Gilam Regular", sans-serif;
    color: white;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*="_container"]{
    box-sizing: border-box;
    width: 1920px;
    margin: 0 auto;
    padding: 0 230px;
}
.logo{
    size: 216px 33px;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
    font-family: "Circle", sans-serif;
    padding: 46px 0px 128px 0px;
}
.button{
    font-size: 18px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #E4B564;
    margin-left: 39px;
    font-weight: 400;   
}
.button img{
    padding-right: 10px;
}
.button a{
    color: #E4B564;
    text-decoration: none;
    font-weight: 400;
}
h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 0 41px 0;
}
h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 0 41px 0;
}
h3{
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}
.section_first{
    background: url(/img/header-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.service{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row: 468px 468px;
    grid-template-areas:
    "a a b b c c"
    "d d d e e e";
    grid-gap: 30px;
    padding: 0 0 161px 0;
}
.service div{
    height: 468px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-1{
    grid-area: a;
    background-color: #634F2C;
}
.service-2{
    grid-area: b;
    background-color: #B4A385;
}
.service-3{
    grid-area: c;
    background-color: #E4B564;
}
.service-4{
    grid-area: d;
    background-color: #635A4A;
}
.service-5{
    grid-area: e;
    background-color: #B08C4D;
}
.transport_title{
    display: grid;
    grid-gap: 10px;
    height: 967px;
    grid-template-rows: repeat (5 , 1fr);
    grid-template-columns: repeat (3fr, 467px);
    padding: 0 0 112px 0;
}
.transport{
    color: #fff;
    padding: 20px;
    font-size: 150%;
}
.a{
    background-color: #0E0E0E;
    padding: 44px 0px 0px 52px;;
    grid-column: 1;
    grid-row: 1 / 2;
}
.b{
    background-color: #242424;
    padding: 44px 0px 0px 48px;;
    grid-column: 2;
    grid-row: 1 / 3;
}
.c{
    background-color: #1F1F1F;
    padding: 44px 0px 0px 52px;;
    grid-column: 3;
    grid-row: 1 / 2;
}
.d{
    background-color: #1F1F1F;
    padding: 56px 0px 0px 52px;;
    grid-column: 1 ;
    grid-row: 2 / 5;
}
.e{
    background-color: #0E0E0E;
    padding: 47px 0px 0px 52px;;
    grid-column: 2;
    grid-row: 3 / 5;
}
.f{
    background-color: #E4B564;
    padding: 44px 0px 0px 48px;;
    grid-column:  3;
    grid-row: 2 / 4;
}
.j{
    background-color: #0A0909;
    padding: 44px 0px 0px 48px;;
    grid-column: 3;
    grid-row: 4 / 5;
}
span{
    font-family: "Gilam Book", sans-serif;
    font-weight: 700;
}
.section_second{
    background: url(/img/parallax-bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 172px 0 239px 0;
}
.navbar_second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 72px 0;
}
.section_second_button{
    border: 1px solid #E4B564;
    color: #E4B564;
    padding: 10px 39px;
 }
 .section_second_brands_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 478px 478px;
    grid-template-areas: 
    "brands_1 brands_2 brands_3"
    "brands_4 brands_5 brands_6";
 }
 .brands_1{
    background-color: #634F2C;
 }
 .brands_2{
    background-color: #E8D2ABC2;
 }
 .brands_3{
    background-color: #E4B564;
 }
 .brands_4{
    background-color: #635A4A;
 }
 .brands_5{
    background-color: #B08C4D;
 }
 .brands_6{
    background-color: #634F2C;
 }
 .section_second_brands_container div{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
